@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

body {
    background-color: whitesmoke;
}

.content-body {
    background-color: white;
}

.todo-list {
    background-color: white;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
        /* top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
        /* second layer */
        0 10px 0 -5px #eee,
        /* second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
        /* third layer */
        0 20px 0 -10px #eee,
        /* third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
}

.todo-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #000000;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #333333;
}

.todo-item-child {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 30px 20px 0;
    width: 100%;
    color: #333333;
}

.todo-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 20px 30px;
    width: 70%;
    border-bottom: 1px solid #000000;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #333333;
}

.todo-text {
    position: relative;
    width: 100%;
}

.details-content {
    font-weight: 100;
    align-items: center;
    z-index: 100;
    background-color: whitesmoke;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.add-details-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.details-button {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease 0s;
}

.details-button:hover {
    color: #404040 !important;
    font-weight: 700;
    letter-spacing: 3px;
}

.todo-form input[type=text] {
    width: 90%;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
}

input[type=checkbox] {
    padding: 12px 20px;
    margin-right: 10px;
    vertical-align: middle;
}

input[type=checkbox]:focus {
    outline: 0;
}

.delete-div {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: #2F4F4F;
    color: #ffffff !important;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}



/* input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  } */
  
.delete-div:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/* #add {
    position: relative;
    text-align: center;
    padding: 20px;
}

  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  } */

  